body {
    background-color: rgb(255, 191, 149)
}

fieldset {
    margin-top: 20px;
}

.border-fieldset {
    border-color: rgb(71, 71, 167);
}

.header {
    color: orangered;

}

.header-first {
    display: flex;
    justify-content: center;
}

.header-second {
    display: flex;
    justify-content: center;

}

.box-content-describe-first {
    display: flex;
    justify-content: center;
}

.box-content-describe-second {
    display: flex;
    justify-content: center;
}

.box-button {
    display: flex;
    justify-content: center;
}

button {
    width: 200px;
    padding: 10px 20px 10px 20px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
}